<template>
  <div className="column is-three-fifths">


    <section className="container notification content is-large" v-if="ciutatActual!=null">

      <h1>Forecast</h1>
      <p>Descripcion: {{ ciutatActual.list[7].weather[0].description }} </p>
      <p></p>
      <p>Temperatura actual:{{ ciutatActual.list[7].main.temp }}</p>
      <p></p>
      <p>Feels like: {{ ciutatActual.list[7].main.feels_like }} </p>
      <p></p>
      <p>Temperatura actual:{{ ciutatActual.list[7].main.temp }}</p>
      <p></p>
      <img v-bind:src="'http://openweathermap.org/img/wn/'+ ciutatActual.list[7].weather[0].icon+'@2x.png'">

    </section>
  </div>
</template>

<script>
export default {
  name: "Forecast",
  props: {
    City: String
  },

  data() {
    return {
      ciutatActual: null,
      icon: null
    }
  },

  methods: {
    async getWeather(ciutat) {
      var url = 'https://api.openweathermap.org/data/2.5/forecast?q=' + ciutat + '&units=metric&lang=ca&appid=644da4f2a1231c6611d2e2d8abb1fc90';

      try {
        var response = await fetch(url);
        var data = await response.json();

        this.ciutatActual = data;
        this.icon = "http://openweathermap.org/img/wn/" + data["list"]["7"]["weather"]["0"]["icon"] + "@2x.png"

      } catch (err) {
        console.log(err);
      }
    }
  },

  mounted: function () {

    this.getWeather(this.City);
  },

  watch: {
    City() {

      this.getWeather(this.City);
    }

  }
};

</script>

<style scoped>

</style>