<template>
  <section  class="container notification content is-large">
    <div class="select">
      <select v-model="selectedCity">
        <option v-for="ciutat in llistaCiutats" v-bind:key="ciutat">{{ ciutat }}</option>
      </select>
<CurrentWeather v-bind:city=selectedCity></CurrentWeather>
<Forecast v-bind:city=selectedCity></Forecast>

    </div>
  </section>
</template>

<script>
import CurrentWeather from './CurrentWeather.vue'
import Forecast from "@/components/Forecast";
export default {
  name: "InfoMeteo",
  props: {
    llistaCiutats: []
  },
  data() {
    return {
      selectedCity: this.llistaCiutats[0]
    }
  },
  components: {
    CurrentWeather,
    Forecast
  }

}

</script>

<style scoped>

</style>