<template>
  <div class="flex-container" id="app">
    <h1 class="h1-title">City Weather</h1>
    <InfoMeteo v-bind:llista-ciutats="europa"></InfoMeteo>
    <InfoMeteo v-bind:llista-ciutats="asia"></InfoMeteo>
  </div>
</template>

<script>
import InfoMeteo from './components/InfoMeteo.vue'


export default {
  name: 'App',
  data () {
    return {
      europa: [
        "Barcelona",
        "Lleida",
        "Zaragoza",
        "Sevilla",
        "Madrid",
        "Paris"],
      asia: [
        "Tokyo",
        "Pekin",
        "Islamabad"
      ]
    }
  },
  components: {InfoMeteo},

}
</script>

<style>
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

div {
  display: block;
  margin-left: 100px;
}

body{
  background-color: dodgerblue;
}

</style>
